@use "../../colors";

body {
  height: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 10px 20px; // top right bottom left
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  // min-height: 100vh;

  position: relative;
}

.typing-container {
  display: flex;
  flex-direction: column;
  flex-basis: 640px;
  padding: 20px;
  background-color: colors.$typing-container-color;
  border: none;
  border-radius: 0.4rem;
}

.typing-display {
}

.input-row {
  display: flex;
  margin-top: 20px;
  column-gap: 10px;
}

.typing-input {
  line-height: inherit;
  font-family: inherit;
  background-color: colors.$accent-color;
  color: inherit;
  border-radius: 0.3rem;
  border-color: colors.$accent-color;
  border-style: solid;
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  transition: all 0.2s;
  flex-grow: 1;
}

.retry-button {
  flex-grow: 0;
  flex-basis: 70px;
  font: inherit;
  background-color: colors.$accent-color;
  color: inherit;
  border-radius: 0.3rem;
  border-color: colors.$accent-color;
  border-style: solid;
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  transition: all 0.2s;
  cursor: pointer;
}

.typing-input:focus, .typing-input:hover {
    box-sizing: border-box;
    border-style: solid;
    border-color: colors.$font-color;
    outline: none;
    transition: all 0.2s;
}

#logo {
  font-weight: 800;
  font-size: 32px;
}

.highlighted {
  background: colors.$accent-color;
}

.correct {

}

.incorrect {

}