@use "../../colors";

body {
  height: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 10px 20px; // top right bottom left
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  // min-height: 100vh;

  position: relative;
}

.typing-container {
  display: flex;
  flex-direction: column;
  flex-basis: 640px;
  padding: 20px;
  background-color: colors.$typing-container-color;
  border: none;
  border-radius: 0.4rem;
}

.typing-display {
  // text-align: center;
}

.input-row {
  display: flex;
  margin-top: 20px;
  column-gap: 10px;
}

.typing-input {
  line-height: inherit;
  font-family: inherit;
  background-color: colors.$accent-color;
  color: inherit;
  border-radius: 0.3rem;
  border-color: colors.$accent-color;
  border-style: solid;
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  transition: all 0.2s;
  flex-grow: 1;
}

.retry-button {
  flex-grow: 0;
  flex-basis: 70px;
  font: inherit;
  background-color: colors.$accent-color;
  color: inherit;
  border-radius: 0.3rem;
  border-color: colors.$accent-color;
  border-style: solid;
  padding: 5px 10px 5px 10px;
  font-size: 1.2rem;
  transition: all 0.2s;
  cursor: pointer;
}

.typing-input:focus, .typing-input:hover {
    box-sizing: border-box;
    border-style: solid;
    border-color: colors.$font-color;
    outline: none;
    transition: all 0.2s;
}

#logo {
  font-weight: 800;
  font-size: 32px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash { 
  0% { 
    // background-color: colors.$accent-color;
    // background-color: rgb(42, 42, 53, 1);
    background-color: rgb(228, 228, 228, 0.4);
    // opacity: 1;
  }
  50% {
    // background-color: colors.$accent-color;
    // background-color: rgb(42, 42, 53, 0);
    background-color: rgb(228, 228, 228, 0);
    // opacity: 0;
  }
  to {
    // background-color: colors.$github-dark;
    // background-color: rgb(42, 42, 53, 1);
    background-color: rgb(228, 228, 228, 0.4);
    // opacity: 1;
  }
}

.highlighted {
  // color: colors.$accent-color;
  color: colors.$font-color;
  // background: colors.$accent-color;
  // background: colors.$font-color;
  animation: flash 1s ease-in-out infinite;
}

.untyped {
  // color: colors.$accent-color;
  color: colors.$font-color;
}

.correct {
  color: colors.$correct-green;
  // color: colors.$font-color;
}

.incorrect {
  color: colors.$incorrect-red;
}

.incorrect-input {
  color: colors.$incorrect-red;
  border-color: colors.$incorrect-red;
}

.incorrect-input:focus {
  color: colors.$incorrect-red;
  border-color: colors.$incorrect-red;
}