$dark-blue: #3b427d;
$light-blue: #F3F4F5;
$bg-blue: #D4E0FF;
$icon-blue: #F5F9FF;
$form-blue: #e9f0fb;
$accent-blue: #E3EDFC;
$form-gray: #B1B3CB;
$light-pink: #fcf0f0;
$pink: #fae4e4;
$github-dark: #0d1117;

$bg-color: $github-dark;
$font-color: #e4e4e4;
$typing-container-color: #161621;
$accent-color: #2A2A35;