@use './colors';
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// roboto mono font
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@400;500;600&family=Inconsolata:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono:wght@400;500;600&family=Inconsolata:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cousine&family=IBM+Plex+Mono:wght@400;500;600&family=Inconsolata:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Cousine&family=IBM+Plex+Mono:wght@400;500;600&family=Inconsolata:wght@400;500&family=PT+Mono&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:wght@400;500&display=swap');


@font-face {
  font-family: "Mona Sans";
  src: url('../public/Mona-Sans.woff2');

  // src: url('../public/Mono-Sans.ttf');
}

@font-face {
  font-family: "Geist Medium";
  src: url('../public/geist/Geist-Medium.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Regular";
  src: url('../public/geist/Geist-Regular.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Light";
  src: url('../public/geist/Geist-Light.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono Regular";
  src: url('../public/geist/GeistMono-Regular.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono Medium";
  src: url('../public/geist/GeistMono-Medium.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono Light";
  src: url('../public/geist/GeistMono-Light.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono SemiBold";
  src: url('../public/geist/GeistMono-SemiBold.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono Bold";
  src: url('../public/geist/GeistMono-Bold.woff2');
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono Black";
  src: url('../public/geist/GeistMono-Black.woff2');
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  // font-family: 'Courier Prime', monospace;
  font-family: 'Cousine', monospace;
  // font-family: 'IBM Plex Mono', monospace;
  // font-family: 'Inconsolata', monospace;
  // font-family: 'PT Mono', monospace;
  // font-family: 'Roboto Mono', monospace;
  // font-family: 'Source Code Pro', monospace;

  // font-family: 'Mona Sans', monospace;
  // font-family: 'Geist Regular',  sans-serif;
  // font-family: 'Geist Light',  sans-serif;
  // font-family: 'Geist Mono Regular', monospace;
  // font-family: 'Geist Mono Medium', monospace;
  // font-family: 'Geist Mono Light', monospace;
  // font-family: 'Geist Mono SemiBold', monospace;
  // font-family: 'Geist Mono Bold', monospace;
  // font-family: 'Geist Mono Black', monospace;

  color: colors.$font-color;
  background-color: colors.$bg-color;
  line-height: 1.6rem;
}
